acf/stepFunctionOrchestrator.json
{
    "Comment": "Automated AMI Backup Workflow",
    "StartAt": "CreateAMI",
    "States": {
      "CreateAMI": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:359456636334:function:createAMI:$LATEST",
        "Next": "WaitForImageAvailable",
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "ErrorHandlingState"
          }
        ]
      },
      "WaitForImageAvailable": {
        "Type": "Wait",
        "Seconds": 600,
        "Next": "ShareAMI"
      },
      "ShareAMI": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:359456636334:function:shareAMI",
        "InputPath": "$.image_id",
        "Next": "RetainBackups",
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "ErrorHandlingState"
          }
        ]
      },
      "RetainBackups": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:359456636334:function:retainLastFiveImages",
        "End": true,
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "ErrorHandlingState"
          }
        ]
      },
      "ErrorHandlingState": {
        "Type": "Fail",
        "Cause": "An error occurred in the state machine",
        "Error": "ErrorName"
      }
    }
  }